@font-face {
    font-family: "Segoe_UI";
    src: url("fonts/SegoeUIBoldItalic.ttf");
}

*
{
    padding: 0;
    margin: 0;
    text-decoration: none !important;
}

/*Variables de color*/
:root
{
    --AzulPaleta : #0088FF; /* rgba (0,136,240) */
    --GrisPaleta : #464646; /* rgba (70,70,70)  */
}

/* Estilo de la scrolBar*/
::-webkit-scrollbar {
    width: 8px;
    background: rgba(70,70,70);
    
}
::-webkit-scrollbar-thumb{
    background: rgba(255,255,2525,0.6);
}

body
{
    background: #ffffff;
}
/*////////////////////////////////////////////CSS para 1920 x 1080//////////////////////////////////////////////////////////////////*/
    /*/////////////////////////////////////////BAR MENU////////////////////////////////////////////////*/
header
{
    /*Evitar seleccion con el raton*/
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    /*/////////////////////////////////*/
    /*Posicion del navbar*/
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    left: 0;
    /*Estilo del navbar*/
    box-sizing: border-box;
    background: linear-gradient(150deg, rgba(255,255,255,1) 52%, rgba(0,136,255,1) 52%);
    border: 1px solid black;
    box-shadow: -1px 9px 5px -1px rgba(0,0,0,0.58);
    -webkit-box-shadow: -1px 9px 5px -1px rgba(0,0,0,0.58);
    -moz-box-shadow: -1px 9px 5px -1px rgba(0,0,0,0.58);
    z-index: 10000;
}

.Nav_bar
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo
{
    width: 140px;
    height: 80%;
}

.barraNav
{
    width: 50%;
    height: 80%;
    display: flex;
}

.barraNav input[type="text"]
{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: none;
    padding-left: 2%;
    outline: none;
    font-family: "Segoe_UI";
}

.barraNav .unir{
    background: #ffffff;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: none;
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
}

.barraNav input[type="image"]
{
    width: 25px;
    height: 25px;
}

.inicio
{
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inicio a
{
    font-family: "Segoe_UI";
    color: #ffffff;
    text-decoration: none;
}



.carrito
{
    width: 70px;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrito a
{
    height: 100%;
}

.carrito a img {
    width: 50px;
    height: 100%;
}

/*//////////////////////////////////////////CONTENIDO/////////////////////////////////////////////////////////////*/
main
{
    margin-top: 15px;
}

/*///////////////////////////////////////NAV BAR////////////////////////////////////////////////////////////////////*/

.Nav_bar2
{
    /*Evitar seleccion con el raton*/
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    /*/////////////////////////////////*/
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.Nav_bar2 .cuadro1
{
    width: 10%;
    height: 100%;
}

.cuadro1 img
{
    width: 100%;
    height: 100%;
}

.cuadro2
{
    width: 10%;
    height: 100%;
}

.cuadro2 img
{
    width: 100%;
    height: 100%;
}

.nav_b
{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav_b  .card
{
    width: calc(100%/4);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.nav_b  .card a 
{
    margin-top: 2%;
    height: 95%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.nav_b  .card a img
{
    width: 50px;
    height: 50px;
}

.nav_b  .card a p 
{
    font-family: "Segoe_UI";
    color: #0088FF;
    font-size: 15px;
}

/*/////////////////////////////////////////Carrusel////////////////////////////////////////////////*/
.CarruselBod
{
    margin-top: 1%;
    background-image: url("refacciones obj/bg_carrusel.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height:70vh;
    display: flex !important;
    align-items: center;
    align-content: center;
    justify-content: center;
    box-shadow: 0px 8px 5px -3px rgba(108,107,107,1);
    -webkit-box-shadow: 0px 8px 5px -3px rgba(108,107,107,1);
    -moz-box-shadow: 0px 8px 5px -3px rgba(108,107,107,1);
}
    
.CarruselBod #carousel1
{
    width: 100%;
    height: 100%;
    /*Evitar seleccion con el raton*/
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    /*/////////////////////////////////*/
}

.CarruselBod #carousel1 .carousel-indicators
{
    left: 1vh !important;
}


.CarruselBod #carousel1 .carousel-indicators li 
{
    width:10px !important;
    height: 10px !important;
    border-radius: 50%;
}

.CarruselBod #carousel1 .carousel-inner .botonVer 
{
    position: absolute;
    bottom: 10%;
    left: 44%;
    width: calc(100% / 8);
    height: calc(60% / 10);
    background: #FF5700;
    color: #ffffff;
    font-family: "Segoe_UI";
    font-size: 80%;
    outline: none;
}

.CarruselBod #carousel1 .carousel-inner
{
    position: relative;
    width: 90%;
    height: 100%;
    left: 5%;

}

.CarruselBod #carousel1 .carousel-control-prev
{
    width: 5% !important;
}

.CarruselBod #carousel1 .carousel-control-next
{
    width: 5% !important;
}


/*//////////////////////////////////////Info del carrusel///////////////////////////////////////////////////////*/
.CarruselBod #carousel1 .carousel-inner .carousel-item
{
    height: 100%;
    width: 100%;
}


.CarruselBod #carousel1 .carousel-inner .carousel-item img
{
    position: relative;
    left: 1%;
    width: 98%;
    top: 15%;
    height: 40vh;
    border: 1px solid #000;
    box-shadow: -5px 6px 7px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -5px 6px 7px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 6px 7px -1px rgba(0,0,0,0.75);
}

/*////////////////////////////////////Buscador de objetos por carros/////////////////////////////////////////////*/
.Buscador_Autos
{
    margin-top: 15vh;
    height: 20vh;
    width: 100%;
}

.Buscador_Autos .barraB
{
    position: relative;
    height: 60%;
    background: var(--AzulPaleta);
}

/*Codigo del boxSelector*/

.contenedor 
{
    display: flex;
	width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.SLB
{
    /*Evitar seleccion con el raton*/
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    /*/////////////////////////////////*/
    display: flex;
    align-content: center;
    justify-content: center;
    width: calc(100%/7);
    height: 30%;
}

.selectbox 
{
	width: 100%;
    height: 100%;
}

.select 
{
	background: #fff;
	width: 100%;
    height: 100%;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, .16);
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .2s ease all;
	position: relative;
	z-index: 200;
	border: 2px solid transparent;
}

.select.active,.select:hover 
{
	box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
	border: 2px solid #213f8f;
}

.select.active:before 
{
	content: "";
	display: block;
	height: 0;
	width: 0;
	border-top: 15px solid #213f8f;
	border-right: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid transparent;
	position: absolute;
	bottom: -30px;
	left: calc(50% - 15px);
}

.select i 
{
    position: relative;
    right: -15%;
	font-size: 20px;
	color: #000000;
    
}

.titulo 
{
	color: #000;
	font-size: 20px;
}

.descripcion 
{
	font-size: 18px;
	color: #434343;
}

.opciones 
{
	background: #fff;
	box-shadow: 0px 5px 10px rgba(0,0,0,.16);
	max-height: 400px;
	overflow: auto;
	z-index: 100;
	width: 100%;
	display: none;
}

.opciones.active 
{
	display: block;
	animation: fadeIn .3s forwards;
}

@keyframes fadeIn 
{
	from {
		transform: translateY(-200px) scale(.5);
	}
	to {
		transform: translateY(0) scale(1);
	}
}

.contenido-opcion 
{
	width: 100%;
	display: flex;
	align-items: center;
    align-content: space-around;
	transition: .2s ease all;
    height: 80px;
}

.opciones .contenido-opcion 
{
	padding: 5px;
}

.contenido-opcion img 
{
	width: calc(100% / 2);
	height: 60px;
	margin-right: 30px;
}

.contenido-opcion .textos
{
    width: calc(100% / 2);
}


.contenido-opcion .textos3
{
    width: 100%;
    text-align: center;
}

.opciones .contenido-opcion:hover 
{
	background: var(--AzulPaleta);
    box-sizing: border-box;
    border: 2px solid var(--GrisPaleta);
    text-decoration: none;
}

.opciones .contenido-opcion:hover .titulo,
.opciones .contenido-opcion:hover .descripcion 
{
	color: #fff;
    text-decoration: none;
    
}

#inputBusqueda
{
    display: flex;
    width: calc(100%/9);
    height: 30%;
}

.BtnBuscador
{
    /*Evitar seleccion con el raton*/
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    /*/////////////////////////////////*/
    display: flex;
    width: calc(100%/13);
    height: 40%;
}

.BtnBuscador #BtnBuscadorB
{
    width: calc(100% / 1);
    height: 100%;
    box-sizing: border-box;
    border-top: 1px solid var(--GrisPaleta);
    border-left: 1px solid var(--GrisPaleta);
    border-bottom: 1px solid var(--GrisPaleta);
    border-right: none;
    background: var(--GrisPaleta);
    color: #fff;
}

.acompletarBtn
{
    width: calc(100% / 3.2);
    height: 100%;
    background: var(--GrisPaleta);
    box-sizing: border-box;
    border-top: 1px solid var(--GrisPaleta);
    border-right: 1px solid var(--GrisPaleta);
    border-bottom: 1px solid var(--GrisPaleta);
    border-left: none;
    display: flex;
    justify-content: center;
}

.ImgBuscadorBtn
{
    position: relative;
    top: 20%;
    height: 60%;
}

/*////////////////////////////////////Tipos de cosas por vender/////////////////////////////////////////////*/

.TiposdeVenta
{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.TiposdeVenta .estructura {
    width: 100%;
    height: 100%;
    display: grid;
    row-gap: 10%;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 45%;
    grid-auto-columns: 40%;
    overflow: hidden;
}


.estructura  .boxTipo
{
    display: flex;
    justify-content: center;
}

.estructura  .boxTipo a
{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.estructura  .boxTipo img
{
    height: calc(100% / 1.5);
}

.estructura  .boxTipo h2{
    height: calc(100% / 8);
    text-align: center;
    color: #000;
}

/*////////////////////////////////////Anuncio de Marcas/////////////////////////////////////////////*/

.anuncioMarcas
{
    width: 100%;
    margin-top: 5vh;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: url("refacciones obj/bg_marcas.png");
}

.anuncioMarcas h1{
    color: #fff;
}

/*////////////////////////////////////Marcas/////////////////////////////////////////////*/
.Carrusel_Anuncios
{
    visibility: visible;
    margin-top: 10vh;
    width: 100%;
    height: 70vh;
}

.Carrusel_Anuncios .carousel
{
    width: 100%;
    height: 100%;
}

.Carrusel_Anuncios .carousel-inner
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.row
{
    width: 80%;
    position: relative;
    align-content: space-around;
    left: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.col
{
    display: flex;
    justify-content: center;
}




.Carrusel_Anuncios .carousel-control-prev-icon
{
    background-image: url("refacciones obj/flechaI.png");
}

.Carrusel_Anuncios .carousel-control-next-icon
{
    background-image: url("refacciones obj/flechaD.png");
}


/*//////////////////Marcas solo para cel*/
.Marcas_Cel
{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    z-index: 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 20%;
}

.Marcas_Cel .boxM{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.Marcas_Cel .foto1
{
    background-image: url("refacciones obj/30-ALLIANCE.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 100%;
    padding: 5%;
}

.Marcas_Cel .foto2
{
    background-image: url("refacciones obj/33_SOPORTES-STAR.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 100%;
    padding: 5%;
}

.Marcas_Cel .foto3
{
    background-image: url("refacciones obj/RAINX-f.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 100%;
    padding: 5%;
}

.Marcas_Cel .foto4
{
    background-image: url("refacciones obj/11-POLAR.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 100%;
    padding: 5%;
}

.Marcas_Cel .foto5
{
    background-image: url("refacciones obj/MICKEY_THOMPSON.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 100%;
    padding: 5%;
}

.Marcas_Cel .foto6
{
    background-image: url("refacciones obj/MUD CLAW.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 100%;
    padding: 5%;
}

.Marcas_Cel .foto7
{
    background-image: url("refacciones obj/25-EAGLE.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 100%;
    padding: 5%;
}

.Marcas_Cel .foto8
{
    background-image: url("refacciones obj/24-SHARK.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 100%;
    padding: 5%;
}

.Marcas_Cel .foto9
{
    background-image: url("refacciones obj/27-TAKAMAYA.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 100%;
    padding: 5%;
}

.Marcas_Cel .BotonVerMas
{
    grid-column: 2;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    outline: none;
}

.Marcas_Cel .BotonVerMas #BotonVerMasMarcas
{
    background: var(--GrisPaleta);
    color: #fff;
    width: 100%;
    height: 80%;
    font-size: 12px;
}

/*///////////////Métodos de Pago////////////*/

.MetodosPago
{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.MetodosPago h1
{
    font-size: 4vh;
    font-family: "Segoe_UI";
    color: var(--AzulPaleta);
    margin-bottom: 5vh;
}


.MetodosPago .FotosMet
{
    width: 100%;
    height: 100%;
    display: flex;
    padding-bottom: 5vh;
    padding-top: 5vh;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
}

.MetodosPago .FotosMet .fotoMer
{
    width: calc(100% / 3.5);
    height: 50%;
}

.MetodosPago .FotosMet .fotoPay
{
    width: calc(100% / 8);
    height: 50%;
    margin-right: 10vh;
}
/*/////////////Barrda de Informacion///////////*/
.BarraInfo
{
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    background: var(--AzulPaleta);
}

.BarraInfo .boxBarra
{
    height: 100%;
    display: flex;
    align-items: center;
}

.BarraInfo div:nth-child(1)
{
    justify-content: center;
    width: calc(100% / 7);
}
.BarraInfo div:nth-child(2)
{
    justify-content: flex-start;
    width: calc(100% / 15);
}
.BarraInfo div:nth-child(3)
{
    width: calc(100% / 7);
    justify-content: flex-start;
}
.BarraInfo div:nth-child(4)
{
    width: calc(100% / 6);
    justify-content: center;
}
.BarraInfo div:nth-child(5)
{
    width: calc(100% / 15);
    justify-content: center;
}
.BarraInfo div:nth-child(6)
{
    width: calc(100% / 7);
    justify-content: flex-start;
}
.BarraInfo div:nth-child(7)
{
    width: calc(100% / 15);
    justify-content: center;
}
.BarraInfo div:nth-child(8)
{
    width: calc(100% / 7);
    justify-content: flex-start;
}

.BarraInfo .boxBarra .bolsa
{
    width: 50px;
    height: 50px;
}

.BarraInfo .boxBarra .whats
{
    width: 30px;
    height: 30px;
}

.BarraInfo .boxBarra .correo
{
    width: 50px;
    height: 40px;
}

.BarraInfo .boxBarra h3{
    font-size: 22px;
    color: #fff;
}

.BarraInfo .boxBarra a{
    color: #fff;
    font-size: 15px;
    font-family: "Segoe_UI";
}

/*////////////////////Boton de busqueda en el mapa/////////////*/
.btnBusqueda
{
    width: 100%;
    height: 40vh;
}

.btnBusqueda .ContenedorBtn
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btnBusqueda .ContenedorBtn button
{
    margin-bottom: 6vh;
    height: 7vh;
    width: 45vh;
    border-radius: 60px;
    font-size: 22px;
    font-family: "Segoe_UI";
    background: #FF5700;
    color: #fff;
    border: 0.5px solid black;
}

.btnBusqueda .ContenedorBtn h3{
    font-size: 18px;
}

/*///////////////////////////Carrusel de Catalogos///////////////*/
.CarruselCat
{
    width: 100%;
    height: 50vh;
}

.CarruselCat #carousel-example
{
    background: var(--GrisPaleta);
    width: 100%;
    height: 100%;
}

.CarruselCat #carousel-example h1
{
    font-size: 20px;
    color: #fff;
    font-family: "Segoe_UI";
    text-align: center;
    margin-bottom: 5px;
    padding-top: 10px;
}

.CarruselCat #carousel-example .carousel-inner
{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
}

.CarruselCat #carousel-example .boxBn
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.CarruselCat #carousel-example .boxBn button
{
    height: 100%;
    width: 10%;
    background: var(--AzulPaleta);
    color: #fff;
    font-family: "Segoe_UI";
}


.CarruselCat #carousel-example .carousel-indicators li
{
    width:10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    background-color: #fff;
    opacity: 1;
}

.CarruselCat #carousel-example .carousel-indicators .active 
{
    background-color: var(--AzulPaleta);
    opacity: 1;
}

/*/////////////////////////////////Footer/////////////////////////////*/
footer
{
    margin-top: 3%;
    width: 100%;
    height: 45vh;
    background: var(--AzulPaleta);
    display: flex;
    flex-direction: column;
}

footer .BarraBuscador
{
    width: 100%;
    height: 30%;
    display: flex;
    align-content: space-around;
    align-items: center;
    justify-content: space-around;
}

footer .BarraBuscador p
{
    color: #fff;
    font-family: "Segoe_UI";
    font-size: 18px;
    margin-bottom: 0;
}

footer .BarraBuscador input[type="text"]
{
    width: calc(100% / 2);
    height: 30%;
}

footer .BarraBuscador button
{
    width: calc(100% / 15);
    height: 25%;
    margin-right: 15%;
    background: var(--GrisPaleta);
    color: #fff;
    border: 0;
    outline: none;
}

footer .Contactos
{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
}

footer .Contactos .Cuadro1
{
    width: calc(100% / 3);
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    border-right: 2px solid rgba(255, 255, 255, 0.637);
}

footer .Contactos .Cuadro1 a
{
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
    font-family: "Segoe_UI";
}

footer .Contactos .Cuadro2
{
    width: calc(100% / 3);
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    border-right: 2px solid rgba(255, 255, 255, 0.637);
}

footer .Contactos .Cuadro2 p
{
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
    font-family: "Segoe_UI";
    font-size: 20px;
}

footer .Contactos .Cuadro2 a
{
    font-size: 15px;
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
    font-family: "Segoe_UI";
}

footer .Contactos .Cuadro3
{
    width: calc(100% / 3);
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

footer .Contactos .Cuadro3 h1
{
    width: 98%;
    height: 20%;
    margin-left: 2%;
    color: white;
    font-family: "Segoe_UI";
}

footer .Contactos .Cuadro3 .RedesS
{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: 20%;
    margin-right: 10%;
    height: 50%;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}

footer .Contactos .Cuadro3 .RedesS img:nth-child(1)
{
    width: 60px;
    height: 60px;
}

footer .Contactos .Cuadro3 .RedesS img:nth-child(2)
{
    width: 60px;
    height: 60px;
}

footer .Contactos .Cuadro3 .RedesS img:nth-child(3)
{
    width: 75px;
    height: 65px;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width : 1280px )  and (max-height : 1024px)
{

}

/*////////*/
@media screen and (max-width : 960px) 
{
    .Carrusel_Anuncios
    {
        visibility: hidden;
    }


    .Marcas_Cel
    {
        visibility: visible;
    }
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width : 640px) and (max-height : 480px)
{
    
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

