@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display SC', serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 640px;
    min-height: 100vh;
    background-color: black;
    overflow: hidden;
    flex-direction: column;
}

.box{
    position: relative;
    margin-left: 150px;
}

.box .square{
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255,0.3);
    border-right: 1px solid rgba(255, 255, 255,0.2);
    border-bottom: 1px solid rgba(255, 255, 255,0.2);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

@keyframes animate{
    0%,100%{
        transform: translateY(-40px);
    }
    50%{
        transform: translateY(40px);
    }
}

.box .square:nth-child(1){
    top:-50px;
    right:-60px;
    width: 100px;
    height: 100px;
}

.box .square:nth-child(2){
    top:150px;
    left:-100px;
    width: 120px;
    height: 120px;
    z-index: 2;
}

.box .square:nth-child(3){
    bottom:50px;
    right:-60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}

.box .square:nth-child(4){
    bottom:-80px;
    left:100px;
    width: 50px;
    height: 50px;
}

.box .square:nth-child(5){
    top:-80px;
    left:140px;
    width: 60px;
    height: 60px;
}


.container{
    position: relative;
    width: 350px;
    min-height: 550px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255,0.3);
    border-right: 1px solid rgba(255, 255, 255,0.2);
    border-bottom: 1px solid rgba(255, 255, 255,0.2);
}

.form{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}

.form h1{
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.form h1::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background: #fff;
}

.form .inputBox{
    width: 100%;
    margin-top: 20px;
}

.form .inputBox input{
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255,0.3);
    border-right: 1px solid rgba(255, 255, 255,0.2);
    border-bottom: 1px solid rgba(255, 255, 255,0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.form .inputBox input::placeholder{
    color: #fff;
}

.form .inputBox input[type="submit"]{
    background: #fff;
    color: #666;
    max-width: 100px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
}


.ok{
    display: flex;
    width: 25%;
    border: 5%;
    margin-top: 20px;
    margin-left: 100px;
    background-color: #4e8;
    color: #fff;
    z-index: auto;
}

.bad{
    order: 4;
    text-align: center;
    justify-content: end;
    width: 100%;
    padding: 12px;
    background-color: #a22;
    color: #fff;
    margin-left: 150px;
}

.Es{
    order: 4;
    text-align: center;
    justify-content: end;
    width: 100%;
    padding: 12px;
    background-color: rgb(214, 228, 25);
    color: rgb(0, 0, 0);
    margin-left: 150px;
}
